USE [quanlyhocsinh]
GO
/****** Object:  Database [quanlihocsinh]    Script Date: 3/30/2017 10:06:23 AM ******/
CREATE DATABASE [quanlihocsinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'quanlihocsinh', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\quanlihocsinh.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'quanlihocsinh_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\quanlihocsinh_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [quanlihocsinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [quanlihocsinh]
GO
/****** Object:  Table [dbo].[bomon]    Script Date: 3/30/2017 10:06:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[bomon](
	[ma] [int] NOT NULL,
	[ten] [nvarchar](50) NULL,
	[gioithieu] [nvarchar](max) NULL,
	[sodienthoai] [varchar](20) NULL,
	[diachi] [nvarchar](max) NULL,
	[email] [nvarchar](20) NULL,
 CONSTRAINT [PK_bomon] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[giaovien]    Script Date: 3/30/2017 10:06:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[giaovien](
	[ma] [int] NOT NULL,
	[ten] [nvarchar](50) NULL,
	[ngaysinh] [datetime] NULL,
	[gioitinh] [bit] NULL,
	[email] [varchar](50) NULL,
	[dienthoai] [int] NULL,
	[luongcoban] [bigint] NULL,
	[giangday] [int] NULL,
	[bomonma] [int] NULL,
	[chunhiemlop] [int] NULL,
 CONSTRAINT [PK_giaovien] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[hocsinh]    Script Date: 3/30/2017 10:06:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[hocsinh](
	[ma] [int] NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[ngaysinh] [datetime] NULL,
	[gioitinh] [nvarchar](10) NULL,
	[lop] [int] NULL,
	[hocluc] [nvarchar](20) NULL,
	[hanhkiem] [nvarchar](20) NULL,
	[chucvu] [nvarchar](50) NULL,
	[giaovienchunhiem] [int] NULL,
	[diachi] [varchar](max) NULL,
 CONSTRAINT [PK_hocsinh] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[lophoc]    Script Date: 3/30/2017 10:06:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lophoc](
	[ma] [int] NOT NULL,
	[ten] [nvarchar](50) NULL,
	[cahoc] [nvarchar](50) NULL,
	[siso] [int] NULL,
	[giaovienday] [int] NULL,
 CONSTRAINT [PK_lophoc] PRIMARY KEY CLUSTERED 
(
	[ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[giaovien]  WITH CHECK ADD  CONSTRAINT [FK_giaovien_bomon] FOREIGN KEY([bomonma])
REFERENCES [dbo].[bomon] ([ma])
GO
ALTER TABLE [dbo].[giaovien] CHECK CONSTRAINT [FK_giaovien_bomon]
GO
ALTER TABLE [dbo].[hocsinh]  WITH CHECK ADD  CONSTRAINT [FK_hocsinh_giaovien] FOREIGN KEY([giaovienchunhiem])
REFERENCES [dbo].[giaovien] ([ma])
GO
ALTER TABLE [dbo].[hocsinh] CHECK CONSTRAINT [FK_hocsinh_giaovien]
GO
ALTER TABLE [dbo].[hocsinh]  WITH CHECK ADD  CONSTRAINT [FK_hocsinh_lophoc] FOREIGN KEY([lop])
REFERENCES [dbo].[lophoc] ([ma])
GO
ALTER TABLE [dbo].[hocsinh] CHECK CONSTRAINT [FK_hocsinh_lophoc]
GO
ALTER TABLE [dbo].[lophoc]  WITH CHECK ADD  CONSTRAINT [FK_lophoc_giaovien] FOREIGN KEY([giaovienday])
REFERENCES [dbo].[giaovien] ([ma])
GO
ALTER TABLE [dbo].[lophoc] CHECK CONSTRAINT [FK_lophoc_giaovien]
GO
USE [master]
GO
